<div class="navbar-ruknox navbar-ruknox-fixed slideRight">
	<div class="navbar-header">
		<h1>RU KNOX</h1>
		<h6>ARTIST</h6>
	</div>
	<div class="navbar-links">
		<!-- Portfolio link -->
		<%= link_to "PORTFOLIO", "", class: "navbar-ruknox-link" %>
	    <!-- Commissioned link -->
	    <%= link_to "COMMISSIONED PAINTINGS", "", class: "navbar-ruknox-link" %>
	    <!-- Abstract link -->
	    <%= link_to "ABSTRACT PAINTINGS", "", class: "navbar-ruknox-link" %>
	    <!-- Drawings link -->
	    <%= link_to "DRAWINGS", "", class: "navbar-ruknox-link" %>
	    <!-- About link -->
	    <%= link_to "ABOUT RU", "", class: "navbar-ruknox-link" %>
	    <!-- Contact link -->
	    <%= link_to "CONTACT", "", class: "navbar-ruknox-link" %>
	</div>
	<div class="contact-footer">
		<a href="tel:+44-790-548-3601">+44(0)7905 483 601</a>
		<%= link_to "ruknox@hotmail.com", "mailto:ruknox@hotmail.com" , class: "contact-footer-link" %>
	</div>
</div>