<div class="navbar-ruknox navbar-ruknox-fixed slideRight">
	<%= image_tag "RuKnox-white.png", class: "navbar-logo" %>
	<div class="navbar-header">
		<h6>ARTIST</h6>
	</div>
	<div class="contact-footer">
		<a href="tel:+44-790-548-3601">+44(0)7905 483 601</a>
		<%= link_to "info@ruknox.com", "mailto:info@ruknox.com" , class: "contact-footer-link" %>
	</div>
	<div class="navbar-links hidden">
		<!-- Portfolio link -->
		<%= link_to "Portfolio", "", class: "navbar-ruknox-link" %>
	    <!-- Commissioned link -->
	    <%= link_to "Comissioned Paintings", "", class: "navbar-ruknox-link" %>
	    <!-- Abstract link -->
	    <%= link_to "Abstract Paintings", "", class: "navbar-ruknox-link" %>
	    <!-- Drawings link -->
	    <%= link_to "Drawings", "", class: "navbar-ruknox-link" %>
	    <!-- About link -->
	    <%= link_to "About Ru", "", class: "navbar-ruknox-link" %>
	    <!-- Contact link -->
	    <%= link_to "Contact", "", class: "navbar-ruknox-link" %>
	</div>
</div>