<%= render 'shared/side_navbar' %>

<div class="portfolio">
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959405/Wiz_yxgzyo.jpg" %>
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959402/Chinesegirl_nhxh80.jpg" %>
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959403/Seb_qyhfm2.jpg" %>
	<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1490959396/Girl_cmgdkr.jpg", id: "last-image" %>
</div>

